<!-- Downloads component -->
<div id="downloads" class="standard-component">
    <div class="download-container">
        <a class="button windows-button main-button" data-for-os="default" data-download="win" tabindex=“-1”>Download
            QuPath</a>
        <a class="button windows-button main-button"
            href="https://github.com/qupath/qupath/releases/download/{{page.version}}/QuPath-{{ page.version | remove_first: 'v' | url_encode }}-Windows.msi"
            data-for-os="win" data-download="win" tabindex=“0”
            aria-label="follow this link to download qupath for windows m s i {{page.windows-msi-file-size}} M B">Download
            for Windows</a>
        <a class="button mac-button main-button"
            href="https://github.com/qupath/qupath/releases/download/{{page.version}}/QuPath-{{ page.version | remove_first: 'v' | url_encode }}-Mac.pkg"
            data-for-os="mac" data-download="mac" tabindex=“0”
            aria-label="follow this link to download qupath for macOS p k g {{page.mac-intel-file-size}} M B">Download
            for macOS</a>
        <a class="button linux-button main-button"
            href="https://github.com/qupath/qupath/releases/download/{{page.version}}/QuPath-{{ page.version | remove_first: 'v' | url_encode }}-Linux.tar.xz"
            data-for-os="lin" data-download="lin" tabindex=“0”
            aria-label="follow this link to download qupath for Linux t a r {{page.linux-file-size}} M B">Download for
            Linux</a>
        <div class="dropdown" tabindex=“-1”>
            <button class="button windows-button side-button" tabindex=“0”
                aria-label="Submenu to download alternative releases"><i class="fa-solid fa-angle-right"></i></button>
            <div class="dropdown-content">
                <a href="https://github.com/qupath/qupath/releases/download/{{page.version}}/QuPath-{{ page.version | remove_first: 'v' | url_encode }}-Windows.msi"
                    tabindex=“0”
                    aria-label="follow this link to download qupath for windows m s i {{page.windows-msi-file-size}} M B"><i
                        class="fa-brands fa-windows download-icon"></i>Windows installer (msi)</a>
                <a href="https://github.com/qupath/qupath/releases/download/{{page.version}}/QuPath-{{ page.version | remove_first: 'v' | url_encode }}-Windows.zip"
                    tabindex=“0”
                    aria-label="follow this link to download qupath for windows m s i {{page.windows-zip-file-size}} Z I P"><i
                        class="fa-brands fa-windows download-icon"></i>Windows portable (zip)</a>
                <hr>
                <a href="https://github.com/qupath/qupath/releases/download/{{page.version}}/QuPath-{{ page.version | remove_first: 'v' | url_encode }}-Mac.pkg"
                    tabindex=“0”
                    aria-label="follow this link to download qupath for macOS p k g {{page.mac-intel-file-size}} M B"><i
                        class="fa-brands fa-apple download-icon"></i>macOS Intel (pkg)</a>
                <a href="https://github.com/qupath/qupath/releases/download/{{page.version}}/QuPath-{{ page.version | remove_first: 'v' | url_encode }}-Mac-arm64.pkg"
                    tabindex=“0”
                    aria-label="follow this link to download qupath for macOS p k g {{page.mac-silicon-file-size}} M B"><i
                        class="fa-brands fa-apple download-icon"></i>macOS Apple silicon (pkg) <span
                        id="super">beta</span></a>
                <hr>
                <a href="https://github.com/qupath/qupath/releases/download/{{page.version}}/QuPath-{{ page.version | remove_first: 'v' | url_encode }}-Linux.tar.xz"
                    tabindex=“0”
                    aria-label="follow this link to download qupath for Linux t a r {{page.linux-file-size}} M B"><i
                        class="fa-brands fa-linux download-icon"></i>Linux (tar.xz)</a>
            </div>
        </div>
        <p class="bold"><a href="https://github.com/qupath/qupath/releases/tag/{{page.version}}" target=blank>Release
                notes {{page.version}}</a></p>
        <p>{{page.all-release-notes}}
        </p>
        <p></p>
    </div>
</div>