<!-- Three icons component -->
<div id="three-icons" class="standard-component">
        <ul class="feature-icons">
                <li>
                        <a href="https://qupath.readthedocs.io/en/stable/" target=blank tabindex="-1"><i
                                        class="fa-regular fa-file-lines fa-5x icons-color green-color"></i></a>
                        <h2><a href="https://qupath.readthedocs.io/en/stable/" target=blank class="three-icons-title"
                                        aria-label="follow this link to learn more about qupath">{{page.icon-1-title}}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-1-content}}</p>
                </li>
                <li>
                        <a href="https://forum.image.sc/tag/qupath" target=blank tabindex="-1"><i
                                        class="fa-regular fa-comments fa-5x icons-color"></i></a>
                        <h2><a href="https://forum.image.sc/tag/qupath" target=blank class="three-icons-title"
                                        aria-label="follow this link to access discussons on the image.sc forum">{{page.icon-2-title}}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-2-content}}</p>
                </li>
                <li>
                        <a href="https://github.com/qupath/qupath" target=blank tabindex="-1"><i
                                        class="fa-solid fa-code fa-5x icons-color red-color"></i></a>
                        <h2><a href="https://github.com/qupath/qupath" target=blank class="three-icons-title"
                                        aria-label="follow this link to the qupath github code base">{{page.icon-3-title}}</a>
                                </h1>
                                <p class="three-icons-text">{{page.icon-3-content}}</p>
                </li>
        </ul>
</div>
</body>